* {
  box-sizing: border-box;
  font-family: sans-serif;
}


.menu {
    display: block;
    text-align: center;
    position: relative;
    background-color: black;
    height: 32px;
}

.title {
    display: inline-block;
    padding-right: 44px;
   
}

.title:hover {
    background-color: blue;
}

.title a {
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    transition: all .5s;
    padding-left: 110px;  
}

.title a:hover {
  border-bottom: 2px solid;
  color: rgb(255, 217, 0);
}

.submenu {
   position: absolute;
   width: 238px;
   background-color: blue;
   padding-left: 0;
   display: none;
}

li {
    list-style-type: none;
    padding-right: 60px;
}

.title:hover > .submenu {
    background-color: blue;
    display: block;
    }

 .submenu-two {
   position: absolute;
   width: 230px;
   background-color: blue;
   padding: 0;
   left: 100%;
   top: 70px;
   display: none;
 }

 .our-menu:hover > .submenu-two {
   display: block;
 }

 .submenu-two-first {
    position: absolute;
    width: 230px;
    background-color: blue;
    padding: 0;
    left: 100%;
    top: 0;
    display: none;
  }

  .our-menu:hover > .submenu-two-first {
    display: block;
  }

  .submenu-two-second {
    position: absolute;
    width: 230px;
    background-color: blue;
    padding: 0;
    left: 100%;
    top: 40px;
    display: none;
  }

  .our-menu:hover > .submenu-two-second {
    display: block;
  }